#ip {
    border-radius: 25px;
    border: 1px solid#DCDCDC;
    padding: 20px; 
    width: 600px;
    height: 2px;   
    box-shadow: 0 0 3px#ccc;
    margin-left: 42px;
    margin-top: 20px;
  
}

#ip:hover {
    box-shadow: 0 0 8px #ccc;
}

#logo {
    float: left;
    height: 32px;
    margin-left: 20px;
    margin-top: 25px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    margin-left: 170px;
}

.navbar-list li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}

.navbar-list li {
    float: left;  
    
}

.navbar-left {
    margin-left: 485px;
}

#signin {
    margin-top: -60px;
   
    color: white;
    float: right;
    margin-right: 25px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 9px 23px;
    text-align: center;
    border-radius: 4px;
}

#gb#gb a.gb_D {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.gb_C .gb_D, .gb_C .gb_D:hover, .gb_C .gb_D:focus {
    opacity: 1;
}

.gb_C .gb_D, .gb_E .gb_C .gb_D {
    background-position: -64px -29px;
}

.gb_D {
    padding: 8px;
    float: right;
    margin-top: -60px;
    margin-right: 140px;

}

.gb_D {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}

.gb_C .gb_D, .gb_C .gb_D:hover, .gb_C .gb_D:focus {
    opacity: 1;
}

.gb_wc .gb_4e.gb_5e button:hover svg, .gb_4e button:hover svg, .gb_D:hover {
    background-color: rgba(60,64,67,0.08);
}

.gb_4e button:focus svg, .gb_4e button:hover svg, .gb_4e button:active svg, .gb_D:focus, .gb_D:hover, .gb_D:active, .gb_D[aria-expanded="true"] {
    outline: none;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.navbar {
    border-bottom: 1px solid lightgray;
    height: 125px;
    width: 100%;
}

.main {
    margin-left: 178px;
    width: 650px;
}

.results {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Google Sans,arial,sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
    color: #70757a;
    font-size: 14px;
    margin-bottom: 30px;
}

.text {
    font-size: 14px;
    
}

.link {
    font-size: 20px;
    margin-top: -5px; 
}

.content-text {
    line-height: 1.58;
    word-wrap: break-word;
    color: #4d5156;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 35px;
  }

  .bold {
      font-weight: bold;
  }

  .also {
      font-size: 20px;
      border-bottom: 1px solid lightgray;
      padding-bottom: 10px;
      margin-top: 45px;
  }

  .also-item {
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-top: -8px;
  }

  .paa {
      margin-bottom: 55px;
  }

  a {
      text-decoration: none;
  }

  .left  {
     float: left;
     margin-left: -40px;
  }

  .right {
      float: right;
  }

  .search-list {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    color: #1a0dab;
    font-family: arial,sans-serif;
  }

  .searches {
      width: 510px;
  }

  .searches p {
      font-size: 20px;
  }

  .search-list li {
      margin-bottom: 7px;
  }

  .google {
    color: #202124;
    font-family: arial,sans-serif;
    font-size: 14px;
  }

  .Uo8X3b {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    user-select: none;
}

h1 {
    font-weight: normal;
}

.AaVjTc td {
    padding: 0;
    text-align: center;
}

.d6cvqb {
    font-weight: bold;
}

.SJajHc {
    background: url(/images/nav_logo299.webp) no-repeat;
    overflow: hidden;
    background-position: 0 0;
    height: 40px;
    display: block;
}

.YyVfkd {
    color: rgba(0,0,0,.87);
    font-weight: normal;
}

.AaVjTc a:link {
    display: block;
    color: #4285f4;
    font-weight: normal;
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
}

.NVbCr {
    cursor: pointer;
}

.SJajHc {
    background: url(/images/nav_logo299.webp) no-repeat;
    overflow: hidden;
    background-position: 0 0;
    height: 40px;
    display: block;
}

.google {
    margin-top: 160px;
}

.footer-container {
    
    background-color: gray;
    
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: #f2f2f2;
    height: 110px;
    
  }

  footer {
      border-top: 1px solid lightgray;
  }

  .country {
      height: 40px;
      
  }

  .country {
      display: table-cell;
      vertical-align: middle;

    
  }

  .footer-container {
      border-top: 1px solid lightgray;
      font-size: 15px;
      color: rgba(0,0,0,.54);
  }

.country p {
    font-size: 12px;
    margin-left: 178px;
  }

.bottom-leftnav li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}

.bottom-leftnav li {
    float: left;  
    list-style-type: none;  
    
}

.bottom-leftnav ul {
    margin-left: 130px;
    margin-top: -10px;
}

.unknown_loc {
    background: #70757a;
}

.yLngu {
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
}

.iJddsb {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    width: 16px;
}

.HF9Klc {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    width: 16px;
}